.button_prev {
  border-radius: 8px;
}

.button_next {
  width: 15%;
  height: 5%;
  border-radius: 50px;
}

.btn-next {
  border-radius: 20px;
}

.btn-prev {
  border-radius: 8px;
  text-align: center;
}
