@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  font-family: 'Press Start 2P', cursive;

  font-weight: 600;
  color: #000;
  text-transform: capitalize;

  /* COLORS */
  --background-page: linear-gradient(to bottom, #6ab7f5, #fff);
  --pokedex: #c91842;
  --pokedex_mid: #a81034;
  --pokedex_down: #970e2e;
}

main {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 3rem;
}

body {
  background: var(--background-page);
  min-height: 100vh;
}
