@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  font-family: 'Press Start 2P', cursive;

  text-transform: capitalize;

  /* COLORS */
  --background-page: linear-gradient(to bottom, #6ab7f5, #fff);
  --pokedex: #c91842;
  --pokedex_mid: #a81034;
  --pokedex_down: #970e2e;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 3rem;
}

body {
  background: var(--background-page);
  min-height: 100vh;
  font-size: 1.6rem;
  overflow: hidden;
}

h1,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

/* POKEDEX */
.pokedex__upside {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 35rem;
  width: 50rem;

  border-radius: 2rem;
  background-image: linear-gradient(
    to top,
    var(--pokedex),
    var(--pokedex_mid),
    var(--pokedex_down)
  );
  box-shadow: 0 0 0 0.2rem #000, 0 0 0 0.4rem #c5c5c5, 0 0 0 0.6rem #000,
    -0.9rem 0 0 0.5rem var(--pokedex_down), -1.1rem 0 0 0.9rem #000;
}

.fit {
  display: flex;
  position: absolute;

  top: 37rem;
}

.pokedex__fit {
  height: 3rem;
  width: 25rem;

  border-radius: 0.6rem 1.8rem 1.8rem 0.6rem;
  background-image: linear-gradient(
    to top,
    var(--pokedex_down),
    var(--pokedex),
    var(--pokedex_down)
  );
  border: 0.2rem solid #000;
  box-shadow: inset 0.2rem -0.1rem 0.6rem;
}

.pokedex__fit_circle {
  position: absolute;
  height: 3rem;
  width: 0.9rem;

  box-shadow: inset 0.1rem 0.1rem 0.2rem;
  border: 0.2rem solid #000;
  border-radius: 1.2rem 100% 100% 1.2rem;
  background-image: linear-gradient(to top, var(--pokedex_down), var(--pokedex));
  background-image: linear-gradient(to right, var(--pokedex_down), var(--pokedex));
}

.pokedex__bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  height: 35rem;
  width: 50rem;
  border-radius: 2rem;
  margin-top: 1.5rem;

  background-image: linear-gradient(
    to bottom,
    var(--pokedex),
    var(--pokedex_mid),
    var(--pokedex_down)
  );
  box-shadow: 0 0 0 0.2rem #000, 0 0 0 0.4rem #c5c5c5, 0 0 0 0.6rem #000,
    -0.9rem 0 0 0.5rem var(--pokedex_down), -1.1rem 0 0 0.9rem #000;
}
/* POKEDEX */

/* SCREEN UPSIDE */
.border__screen_upside {
  display: flex;
  flex-wrap: wrap;

  width: 80%;
  height: 80%;
  border-radius: 2rem;

  background-image: linear-gradient(to top, #808080, #707070, #606060);
  border: 0.2rem solid #000;
  box-shadow: inset 0 0 0 0.2rem #c5c5c5, inset 0 0 0 0.4rem #000;
}

.pokemon__info {
  display: flex;
  width: 100%;
  height: 15%;

  align-items: center;
  justify-content: center;

  font-size: 2.2rem;
}

.pokemon__icon {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 20%;
  height: 70%;
  margin-bottom: 10%;

  align-items: center;
  justify-content: space-around;
}

.pokemon__type_icon {
  width: 35%;
}

.pokemon__type_icon_two {
  width: 35%;
}

.screen__upside {
  display: flex;
  margin-bottom: 5%;

  width: 80%;
  height: 70%;
}

.screen__background {
  width: 90%;
  height: 100%;
}

.pokemon__background {
  width: 100%;
  height: 100%;
  border-radius: 1rem;

  box-shadow: 0 0 0 0.2rem #000, 0 0 0 0.4rem #c5c5c5, 0 0 0 0.6rem #000;
}

.img__pokemon {
  display: flex;
  position: absolute;
  justify-content: center;

  width: 30rem;
  height: 20rem;
}

.pokemon__image {
  position: relative;
  align-self: center;

  width: 12rem;
  height: 15.5rem;
}
/* SCREEN UPSIDE */

/* SCREEN BOTTOM */
.border__pokedex_bottom {
  display: flex;
  flex-wrap: wrap;

  width: 80%;
  height: 90%;
}

.pokemon__screen_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 85%;

  border-radius: 2rem;
  background-color: #157e75;
  border: 0.2rem solid #000;
  box-shadow: inset 0 0 0 0.2rem #c5c5c5, inset 0 0 0 0.4rem #000;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;

  width: 97.5%;
  height: 62.5%;

  border-radius: 1.5rem 1.5rem 0 0;
  background-color: #33b695;
  box-shadow: 0 0 0 0.5rem #423647, inset 0 0 0 0.4rem #e45d34;
}

.switch {
  z-index: 10;
  width: 97.5%;
  height: 32.5%;

  border-radius: 0 0 1.5rem 1.5rem;
  background-color: #fff;
  box-shadow: 0 0 0 0.5rem #271f2b, inset 0 0 0 0.4rem #54285f;
}

.pokemon__screen_bottom_options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;

  width: 100%;
  height: 100%;
}

.btn__input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 15%;
}
/* SCREEN BOTTOM */

/* TEXT */
.textTitle {
  font-size: 1.6rem;
}

.subTitle {
  font-size: 1.4rem;
}

.text {
  font-size: 1.2rem;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  visibility: visible;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.pokemon__status_element {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;

  visibility: hidden;
  position: absolute;
}

.pokemon__type_text {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: 20%;
}

.pokemon__type {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 80%;
}

.pokemon__type_two {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 80%;
}

.pokemon__status {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 45%;
  height: 90%;

  visibility: hidden;
  position: absolute;
}

.pokemon__status_text {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: 20%;
}

.text__status {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  width: 60%;
  height: 78%;
}

.value__status {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  width: 25%;
  height: 78%;
}

.pokemon__abilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  height: 100%;

  visibility: hidden;
  position: absolute;
}

.pokemon__ability_text {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: 20%;
}

.text__abilities {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80%;
}

.pokemon__ability_one {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;
}

.pokemon__ability_two {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;
}

.pokemon__ability_three {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;
}

.pokemon__ability_four {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;
}

.pokemon__moves {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;

  visibility: hidden;
  position: absolute;
}

.pokemon__move_text {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: 20%;
}

.text__moves {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80%;
}

.pokemon__move_one {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;
}

.pokemon__move_two {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;
}

.pokemon__move_three {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;
}

.pokemon__move_four {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;
}
/* TEXT */

/* FIELDS */
.element {
  width: 55%;
  height: 60%;
}

.form {
  width: 100%;
  height: 100%;
}

.input__search {
  width: 100%;
  height: 100%;

  outline: none;
  border: 0.1rem solid #000;
  border-radius: 0.3rem;
  font-weight: 600;

  box-shadow: inset 0 0 0 0.1rem #c5c5c5, inset 0 0 0 0.3rem #000;
  text-decoration: none;
  text-align: center;
}
/* FIELDS */

/* BUTTON */
.button__prev {
  border-radius: 0.5rem;
  width: 20%;
  height: 60%;
}

.button__next {
  border-radius: 0.5rem;
  width: 20%;
  height: 60%;
}

.btn-next {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(to top, #535353, #808080);
  box-shadow: -0.2rem 0.2rem 0 #000;
  font-size: clamp(0.2rem, 5vw, 1.5rem);
}

.btn-prev {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(to top, #535353, #808080);
  box-shadow: -0.2rem 0.2rem 0 #000;
  font-size: clamp(0.2rem, 5vw, 1.5rem);
}

.btn-next:active {
  box-shadow: inset -0.2rem 0.2rem 0 #000;
  font-size: 1.2rem;
}

.btn-prev:active {
  box-shadow: inset -0.2rem 0.2rem 0 #000;
  font-size: 1.2rem;
}

.options {
  width: 48%;
  height: 40%;
  border-radius: 5%;

  border-color: transparent;
  background-color: transparent;
}

button:hover {
  border-color: #ff0000;
}

.btn-next:hover {
  border-color: #000;
}

.btn-prev:hover {
  border-color: #000;
}
/* BUTTON */

/* MEDIA QUERY */
@media (max-width: 2560px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 38%;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 35%;
  }
}
/* MEDIA QUERY */
