.border__screen_upside {
  display: flex;
  flex-wrap: wrap;

  width: 80%;
  height: 80%;
  border-radius: 20px;

  background-image: linear-gradient(to top, #808080, #707070, #606060);
  border: 2px solid #000;
  box-shadow: inset 0 0 0 2px #c5c5c5, inset 0 0 0 4px #000;
}

.screen__background {
  width: 1000px;
  height: 1000px;
}

.pokemon__info {
  display: flex;
  width: 100%;
  height: 15%;

  align-items: center;
  justify-content: center;

  font-size: 22px;
}

.pokemon__icon {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 20%;
  height: 70%;
  margin-bottom: 10%;

  align-items: center;
  justify-content: space-around;
}

.pokemon__type_icon {
  width: 35%;
}

.pokemon__type_icon_two {
  width: 35%;
}

.screen__upside {
  display: flex;
  margin-bottom: 5%;

  width: 80%;
  height: 70%;
}

.screen__background {
  width: 90%;
  height: 100%;
}

.pokemon__background {
  width: 100%;
  height: 100%;
  border-radius: 10px;

  box-shadow: 0 0 0 2px #000, 0 0 0 4px #c5c5c5, 0 0 0 6px #000;
}

.img__pokemon {
  display: flex;
  position: absolute;
  justify-content: center;

  width: 23rem;
  height: 14rem;
}

.pokemon__image {
  position: relative;
  align-self: center;

  width: 160px;
  height: 155px;
}
