/*.textTitle {
  font-size: 18px;
}

.subTitle {
  font-size: 16px;
}

.text {
  font-size: 14px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  visibility: visible;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.pokemon__status_element {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;

  visibility: hidden;
  position: absolute;
}

.pokemon__type_text {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: 20%;
}

.pokemon__type {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 80%;
}

.pokemon__type_two {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 80%;
}

.pokemon__status {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 45%;
  height: 90%;

  visibility: hidden;
  position: absolute;
}

.pokemon__status_text {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: 20%;
}

.text__status {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  width: 60%;
  height: 78%;
}

.value__status {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  width: 25%;
  height: 78%;
}

.pokemon__abilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  height: 100%;

  visibility: hidden;
  position: absolute;
}

.pokemon__ability_text {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: 20%;
}

.text__abilities {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80%;
}

.pokemon__ability_one {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;
}

.pokemon__ability_two {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;
}

.pokemon__ability_three {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;
}

.pokemon__ability_four {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;
}

.pokemon__moves {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;

  visibility: hidden;
  position: absolute;
}

.pokemon__move_text {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: 20%;
}

.text__moves {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80%;
}

.pokemon__move_one {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;
}

.pokemon__move_two {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;
}

.pokemon__move_three {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;
}

.pokemon__move_four {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;
}
