.text {
  font-size: 19px;
}

.question {
  visibility: visible;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  animation: typing 4s steps(40) 1s normal;
}

.pokemon__status_element {
  visibility: hidden;
  position: absolute;
}
.pokemon__abilities {
  visibility: hidden;
  position: absolute;
}
.pokemon__status {
  visibility: hidden;
  position: absolute;
}
.pokemon__moves {
  visibility: hidden;
  position: absolute;
}
